#root {
  max-width: 1280px;
  background-color: #282c34;
}

.app {
  height: 100vh;
}

.point {
  display: inline-block;
  position: absolute;
  user-select: none;
  border: 1px solid #61dafb;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #61dafb;
}
